.onboarding-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.popup-content {
  background-color: white;
  padding: 100px;
  border-radius: 8px;
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex; /* Added to enable flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  /* font-size: 14px; */
}

.close-button:hover {
  background-color: #0056b3;
}

.popup-content p {
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}
